/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.hidden{
    display: none;
}

.little-divider-div{
    background-color: #FFFFFF;
    height: 2px;
    border-radius: 10px;
    width: 100%;
    justify-self: center;
    margin: 7px 0;
}